@tailwind base;
@tailwind components;
@tailwind utilities;

#__next{
  @apply relative min-h-screen pb-[226px];
  background: linear-gradient(180deg, #0A0910 0%, #110F1B 22.6%, #2A2744 100%);
}

html{
  font-family: 'MiSans';
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MiSans';
  src: url('./fonts/MiSans-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'MiSans';
  src: url('./fonts/MiSans-Semibold.woff2') ;
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: 'MiSans';
  src: url('./fonts/MiSans-Black.woff2');
  font-style: normal;
  font-weight: 900;
  font-display: auto;
}
